<header class="header">
  <div class="container">
    <form action="" class="header__form">
      <button class="header__button" type="submit"></button>
      <input
        class="header__input"
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Search images..."
        />
        <button class="header__button-close" type="button"></button>
    </form>
  </div>
</header>

<ul class="gallery">
  <div class="container container--gallery"></div>
  <button class="load-more" type="button">Load more</button>
</ul>
